@import views.Helper
@import views.ViewerInfo
@(viewerInfo:ViewerInfo)
<!DOCTYPE html>

<html dir="ltr" mozdisallowselectionprint>
    <head>
	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="google" content="notranslate">
        <title>View @viewerInfo.pid</title>
        <script src="@controllers.routes.Assets.at("javascripts/jquery-3.2.1.min.js")"></script>
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/toscience.css")">
    </head>

    <body tabindex="0" class="pdfjs">
	<script type="text/javascript">
        $(document).ready(function() {
          const url = new URL(window.location.href);
          const viewerUrl = new URL(window.location.href);
          url.pathname = url.pathname.replace("/viewers/pdf/", "/resource/");
          viewerUrl.pathname = "/static/web/viewer.html";
          var pdfUrl = url.toString();
        $("#pdfContainer > iframe").attr("src", viewerUrl + "?file=" + encodeURIComponent(pdfUrl));
        });
    </script>
    <div id="pdfContainer">
	    <iframe src="" width="100%" height="100%" style="min-height: 500px;" title="PDF" allow="fullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
    </div>
    
    </body>
</html>			
