body.pdfjs {
    height: 100%;
    margin: 0;
}
#pdfContainer {
  width: 100%;
  height: 100%;
}

#pdfContainer iframe {
  width: 100%;
  height: 100vh;
  border: none;
}
#printButton, #downloadButton {
  display: none
}
@media print {
  div {
      display: none;
    }
}
