@import views.Helper
@import views.ViewerInfo
@import models.Node
@(node:Node,hit:Map[String,Object],context:List[String])


@if(views.Helper.mdStreamExists(node.getPid(), "ktbl")){
<!--  <table class="table table-striped table-condensed resourceTable display" cellspacing="0" width="100%" resource=@hit.get("primaryTopic") data-entity-bundle=@hit.get("contentType")>
<thead><tr><th style="display:none;">Weight</th><th>Name</th><th>Value</th></tr></thead><tbody> -->

@ktblRow(node)

<!--  </tbody></table> -->
}


@ktblRow(value:Any)={

@if(views.Helper.getToscienceArrayValues(node, "alternative")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Alternative title</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceArrayValues(node, "alternative")){
			@rDs <br>
		}
	</td>
	</tr>
	}

@if(views.Helper.getToscienceArrayValues(node, "description")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Description</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceArrayValues(node, "description")){
			@rDs <br>
		}
	</td>
	</tr>
	}

@if(views.Helper.getCreators(node)!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Author(s)</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getCreators(node)){
			@rDs <br>
		}
	</td>
	</tr>
	}

@if(views.Helper.getContributors(node)!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Contributor(s)</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getContributors(node)){
			@rDs <br>
		}
	</td>
	</tr>
	}

@if(views.Helper.getOthers(node)!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Other(s)</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getOthers(node)){
			@rDs <br>
		}
	</td>
	</tr>
	}

@if(views.Helper.getToscienceArrayValues(node, "associatedDataset")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Associated dataset(s)</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceArrayValues(node, "associatedDataset")){
			@rDs <br>
		}
	</td>
	</tr>
	}

@if(views.Helper.getToscienceLiteralValue(node, "issued")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Year of Publication</td>
	<td class="field-item">
		@views.Helper.getToscienceLiteralValue(node, "issued")
	</td>
	</tr>
	}

@if(views.Helper.getToscienceObjectArray(node, "medium")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Medium</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceObjectArray(node, "medium")){
		<a href="/resource?query[0][term]=%22@rDs.get("id")%22">
			@rDs.get("prefLabel") </a><br> 
		}
	</td>
	</tr>
	}

@if(views.Helper.getToscienceObjectArray(node, "rdfType")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Type of Publication</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceObjectArray(node, "rdfType")){
		<a href="/resource?query[0][term]=%22@rDs.get("id")%22">
			@rDs.get("prefLabel") </a><br> 
		}
	</td>
	</tr>
	}
	
@if(views.Helper.getToscienceLiteralValue(node, "yearOfCopyright")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Year of Copyright</td>
	<td class="field-item">
		@views.Helper.getToscienceLiteralValue(node, "yearOfCopyright")
	</td>
	</tr>
	}

@if(views.Helper.getToscienceObjectArray(node, "licence")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Licence</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceObjectArray(node, "licence")){
		<a href="/resource?query[0][term]=%22@rDs.get("id")%22">
			@rDs.get("prefLabel") </a><br> 
		}
	</td>
	</tr>
	}

@if(views.Helper.getToscienceObjectArray(node, "language")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Publication's language</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceObjectArray(node, "language")){
		<a href="/resource?query[0][term]=%22@rDs.get("id")%22">
			@rDs.get("prefLabel") </a><br> 
		}
	</td>
	</tr>
	}

@if(views.Helper.getToscienceObjectArray(node, "institution")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">FRL-collection</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceObjectArray(node, "institution")){
		<a href="/resource?query[0][term]=%22@rDs.get("id")%22">
			@rDs.get("prefLabel") </a><br> 
		}
	</td>
	</tr>
	}

@if(views.Helper.getToscienceObjectArray(node, "subject")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">subject(s)</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceObjectArray(node, "subject")){
		<a href="/resource?query[0][term]=%22@rDs.get("id")%22">
			@rDs.get("prefLabel") </a><br> 
		}
	</td>
	</tr>
	}

@if(views.Helper.getToscienceArrayValues(node, "usageManual")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Usage manual</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceArrayValues(node, "usageManual")){
			@rDs <br>
		}
	</td>
	</tr>
	}

@if(views.Helper.getToscienceObjectArray(node, "dataOrigin")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Data origin</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceObjectArray(node, "dataOrigin")){
		<a href="/resource?query[0][term]=%22@rDs.get("id")%22">
			@rDs.get("prefLabel") </a><br> 
		}
	</td>
	</tr>
	}


@if(views.Helper.getToscienceObjectArray(node, "ddc")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Dewey decimal classification</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceObjectArray(node, "ddc")){
		<a href="/resource?query[0][term]=%22@rDs.get("id")%22">
			@rDs.get("prefLabel") </a><br> 
		}
	</td>
	</tr>
	}

@if(views.Helper.getToscienceObjectArray(node, "fundingId")!=null){
	<tr class="joinedFunding">
	<td style="display:none;">"80"</td>
	<td class="field-label">Funding</td>
	<td><table>
	<tr class="fundingJoined-child">
	<td class="field-label joinedFunding-child">Funder</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceObjectArray(node, "fundingId")){
		<a href="/resource?query[0][term]=%22@rDs.get("id")%22">
			@rDs.get("prefLabel") </a><br> 
		}
	</td></tr></table></td>
	</tr>
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">&nbsp;</td>
	<td><table><tr>
	<td class="field-label  joinedFunding-child">Funding program</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceArrayValues(node, "fundingProgram")){
			@rDs <br>
		}
	</td></tr></table></td>
	</tr>
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">&nbsp;</td>
	<td><table><tr>
	<td class="field-label  joinedFunding-child">Project ID</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getToscienceArrayValues(node, "projectId")){
			@rDs <br>
		}
	</td></tr></table></td>
	</tr>
	}

@if(views.Helper.getLivestockProduction(node)!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Livestock production</td>
	<td class="field-item">
		@views.Helper.getLivestockProduction(node:Node)
	</td>
	</tr>
	}

@if(views.Helper.getHousingSystems(node)!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Housing systems</td>
	<td class="field-item">
		@views.Helper.getHousingSystems(node:Node)
	</td>
	</tr>
	}

@if(views.Helper.getKtblArrayValues(node, "additional_housing_systems")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Additional housing systems</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getKtblArrayValues(node, "additional_housing_systems")){
			@rDs <br>
		}
	</td>
	</tr>
	}

	
@if(views.Helper.getVentilationSystem(node)!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Ventilation system</td>
	<td class="field-item">
		@views.Helper.getVentilationSystem(node:Node)
	</td>
	</tr>
	}	

@if(views.Helper.getKtblArrayValues(node, "emissions")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Emissions</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getKtblEmissions(node, "emissions")){
			@rDs <br>
		}
	</td>
	</tr>
	}


@if(views.Helper.getKtblArrayValues(node, "emission_reduction_methods")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Emission reduction</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getKtblArrayValues(node, "emission_reduction_methods")){
			@rDs <br>
		}
	</td>
	</tr>
	}

@if(views.Helper.getKtblArrayValues(node, "emi_measurement_techniques")!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Emission measurement techniques</td>
	<td class="field-item">
		@for(rDs <- views.Helper.getKtblArrayValues(node, "emi_measurement_techniques")){
			@rDs <br>
		}
	</td>
	</tr>
	}


@if(views.Helper.getProjectTitle(node)!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Project title</td>
	<td class="field-item">
		@views.Helper.getProjectTitle(node:Node)
	</td>
	</tr>
	}

@if(views.Helper.getTestDesign(node)!=null){
	<tr class="ktbl:emimin">
	<td style="display:none;">"80"</td>
	<td class="field-label">Test design</td>
	<td class="field-item">
		@views.Helper.getTestDesign(node:Node)
	</td>
	</tr>
	}
}


